@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
}

@layer components {
  .home {
    @apply flex flex-row flex-wrap items-center justify-center;
  }
  .flex-center-row {
    @apply flex flex-row flex-wrap items-center justify-center;
  }
  .flex-center-col {
    @apply flex flex-col flex-wrap items-center justify-center;
  }
  .column {
    @apply flex m-6 justify-center flex-col;
  }
  .container {
    @apply m-2 rounded-2xl w-32 h-56;
  }
  .images {
    @apply w-32 h-48 rounded-2xl;
  }
  .cast {
    @apply w-32 h-60 p-2;
  }
  .button-ui {
    @apply text-sm border p-1  border-solid  border-indigo-600 m-1 rounded-md;
  }
  .text {
    @apply text-center text-2xl md:text-left mx-2;
  }
  .text-small {
    @apply text-center text-xs md:text-left mx-2;
  }
}
